

/* lãnh đạo */
h1 {
    text-align: center;
    padding-top: 64px ;
}
.container-form {
    display: flex;
    padding: 54px 0;
    margin: 0 12px;
    justify-content: space-between;
}

.table-input-list {
    min-width: 100%;
}

.list-table {
    margin: 0 32px;
}
.list-table tr th{
    padding: 2px;
}

.form-person {
    min-width: 400px;
    border: 1px solid #000;
    border-radius: 4px;
    margin-right: 12px;
    padding: 8px 4px 20px 12px;
}

.form-person-box label {
    width: 136px;
    float: left;
}

.form-person-box input[type="text"] {
    margin-bottom: 12px;
    width: 220px;
    padding-right: 5px;
    
}

.button-chucnang {
    display: flex;
    margin-top: 8px;
    justify-content: center;
    
}

.button-chucnang span button{
    width: 100px;
    padding: 4px 4px;
    margin: 4px 8px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #696969;
}

/*  lãnh đạo */


/* các nhân sự*/
.header-ktkl {
    display: flex;
    justify-content: space-between;
    margin: 32px 152px 0 152px;
}

.header-ktkl-input button {
    font-size: 20px;
    background: var(--green);
    border: none;
    height: 32px;
    color: var(--white-color);
    border-radius: 4px;
    box-shadow: 2px 2px 2px #999999;
}

.Them button,
.QuayLai button {
    width: 120px;
}

.header-ktkl-input button:hover {
    cursor: pointer;
    color: black;
    border: 1px solid #999999;
}

.Tim input {
    font-size: 20px;
    padding: 0 4px;
    width: 400px;
}

.Tim button {
    width: 64px;
}

.table-ktkl {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 50%;
}

.table-ktkl tr th:first-child{
    padding: 4px;
}

.btn-input{
    border: none;
    opacity: calc(75%);
    margin: 8px 4px;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #999999;
}

.btn-input:hover {
    opacity: calc(100%);
    
}

.btn-input:nth-child(1){
    background: aqua;
}

.btn-input:nth-child(2){
    background: orange;
}
.btn-input:nth-child(3){
    background: red;
}

/* Các Nhân Sự 2 */
.btn-quaylai{
    margin: 0 40px 0 40px;
    cursor: pointer;
    box-shadow: 2px 2px 4px #000000;
}

.btn-quaylai:last-child {
    background-color: rgb(241, 194, 194);
}

.btn-double {
    display: flex;
    justify-content: space-between;
}
.table-cns {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 100%;
}

.table-cns tr th{
    padding-top: 4px;
    padding-bottom: 4px;
}

.nav-cns {
    width: 400px;
    height: 160px;
    margin-top: 20px;
    padding-left: 16px;
    padding-top: 16px;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 4px #696969;
    margin-left: auto;
    margin-right: auto;
    
}
/* Kết thúc các nhân sự */

/* trợ giúp*/
.btn-trogiup {
    float: right;
}
/* kết thúc trợ giúp */